#include <windows.h>
#include "version.h"

1 ICON "icon.ico"

1 VERSIONINFO
FILEVERSION WINNETMETER_VERSION
PRODUCTVERSION WINNETMETER_VERSION
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "WinNetMeter"
            VALUE "FileVersion", WINNETMETER_VERSION_STRING
            VALUE "InternalName", "WinNetMeter"
            VALUE "LegalCopyright", "Copyright (c) 2025-2026"
            VALUE "OriginalFilename", "WinNetMeter.exe"
            VALUE "ProductName", "WinNetMeter"
            VALUE "ProductVersion", WINNETMETER_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
